<div class="container">

  <h1>Angular D3</h1>
  <p class="project-description">Using Angular to render DOM with D3 generators</p>
  <div class="dashboard">
    <div class="chart">
      <app-donut-chart
          [data]="votes"
          [centerValue]="leadingCandidate.votes || ''"
          [centerDescription]="leadingCandidate.name || ''"
          [centerValueColor]="colors(leadingCandidateIndex)"
          [accentIndexes]="[leadingCandidateIndex]"
          class="donut"
      ></app-donut-chart>
      <div class="legend">
        <app-chart-legend [legend]="legend"></app-chart-legend>
      </div>
    </div>
    <div>
      <span class="hint">Changing form values updates the chart</span>
      <form *ngIf="voteForm" [formGroup]="voteForm" class="form-container">
        <mat-form-field class="form-row">
          <input matInput *ngIf="candidates[0]" placeholder="{{candidates[0].name}}" [formControlName]="candidates[0].key">
        </mat-form-field>
        <mat-form-field class="form-row">
          <input matInput *ngIf="candidates[1]" placeholder="{{candidates[1].name}}" [formControlName]="candidates[1].key">
        </mat-form-field>
        <mat-form-field class="form-row">
          <input matInput *ngIf="candidates[2]" placeholder="{{candidates[2].name}}" [formControlName]="candidates[2].key">
        </mat-form-field>
      </form>
    </div>
  </div>
</div>